.blogFooter {
  // height: 50vh;
  // width: 100%;
  // background-color: grey;
  // background: -webkit-linear-gradient(360deg, #1c1c1c 10%, #494949 360%);
  // background: -moz-linear-gradient(360deg, #1c1c1c 10%, #494949 360%);
  // background: linear-gradient(360deg, #1c1c1c 10%, #494949 360%);
  // color: white;

  // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  //   url(../../images/code_lines_programming_130775_3840x2160.jpg) no-repeat
  //     center;
  // background-size: cover;
  backdrop-filter: blur(25px);

  color: #fff;
  margin-top: 15px;
  text-align: center;
  .copyright {
    padding: 75px 0 75px 0;
    font-size: 20px;

    a {
      font-size: 19px;
      color: var(--main-color);
      font-weight: 500;
    }
  }
  //Icons styling
  .middle {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;

    .btn {
      display: inline-block;
      width: 90px;
      height: 90px;
      background: #f1f1f1;
      margin: 10px;
      border-radius: 30%;
      box-shadow: 0 5px 15px -5px #00000070;
      color:/*#3498db*/ $main-blue;
      overflow: hidden;
      position: relative;

      &:hover {
        i {
          transform: scale(1.7);
        }
      }
      i {
        line-height: 90px;
        font-size: 26px;
        transition: 0.15s linear;
      }
    }
  }
  .line {
    width: 100%;
    height: 0.1vh;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 1px;
  }
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@include mobile {
  .blogFooter {
    .copyright {
      padding: 70px 0;
      margin-top: 1px;
    }
    .middle {
      flex-wrap: wrap;
      margin: 0;
      margin-top: 50px;
      .btn {
        &::before {
          display: none;
        }
        &:hover {
          i {
            color: $main-blue !important;
          }
        }
      }
    }
  }
  .line {
    width: 100%;
    height: 0.1vh;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 1px;
  }
}
