@import "../partials/variables";
@import "../mixins/resp";

$side-window-width: 15vw;
$center-window-width: 85vw;

.blog {
  width: 100%;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
  url(../../images/bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 200px;

  color: rgba(255, 255, 255, 0.6);

  .posts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: $center-window-width;

    .post {
      width: 500px;
      height: 120px;
      margin: 20px 10px;
      padding: 20px;
      border-radius: 10px;
      background-color: rgb(27, 27, 30);
      font-weight: 600;
      transition: 0.2s ease-in;
      cursor: pointer;

      &:hover {
        box-shadow: rgba(255, 255, 255, 0.05) 5px 5px 20px;
      }

      .postTitle {
        color: $main-blue;
        font-size: 22px;
        font-weight: 600;
      }

      .postShort {
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
      }

      .info {
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: rgba(255, 255, 255, 0.3);
        font-weight: 400;
        font-size: 14px;

        .minutes {
          display: flex;
          align-items: center;
          justify-content: start;

          .timer {
            margin-right: 4px;
          }
        }
      }
    }
  }

  .right {
    width: $side-window-width;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .tag {
      width: max-content;
      height: max-content;
      border: 1px solid gray;
      padding: 3px 25px;
      border-radius: 10px;
      margin: 8px;
      cursor: pointer;

      &:hover {
        background: #185bc9;
      }
    }
  }

  .left {
    width: $side-window-width;
    height: 100%;
    display: none;
  }
}

@include mobile {
  .blog {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../../images/bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

    color: rgba(255, 255, 255, 0.6);
    overflow: scroll;
    flex-direction: column;

    .posts {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-wrap: wrap;
      height: 100vh;
      padding-top: 200px;

      .post {
        width: 90%;
        height: auto;

        &:hover {
        }

        .postTitle {}

        .postShort {}

        .info {
          .minutes {
            .timer {}
          }
        }
      }
    }
    .right {
      flex-direction: row;
      position: absolute;
      top: 140px;
      left: 10px;
      height: 100px;
      flex-wrap: wrap;
      width: 100vw;
      .tag{

      }
      //display: none;
    }
    .left{
      display: block;
      width: 100%;
      padding: 0 20px;
      align-items: start;
      cursor: pointer;
    }
  }
}